<section class="container  mt-0 text-xl" >

    <div class="contenu-scroll min-h-full">
    <table class="table table-borderless table-dark"  >
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">inscrits</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>

        <tbody >
        {% for sortie in sorties %}

        <tr>
            <th scope="row">
                {{ sortie.nom }}
            </th>
            <td>
                {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}
            </td>
            <td>
                {{ sortie.dateLimiteInscription | date('d/m/Y')}}
            </td>
            <td>
               {{ sortie.relation|length}} /{{ sortie.nbInscriptioonsMax }}
            </td>
            <td {% if sortie.etat.id  in [1,3,4,5,6] %}
                    class="text-red-500"
                {% endif %} }
                    class="text-green-500">

                {{ sortie.etat.libelle }}
            </td>
            <td>
            {% for relation in sortie.relation %}
                   {% if user.id is same as (relation.id) %}
                       <span class="badge badge-info">inscrit</span>

                   {% endif %}
            {% endfor %}
            </td>
            <td>
                <a href="{{ path("participant_autreProfil", {"id" : sortie.organisateur.id}) }}">
                    {{ sortie.organisateur.nom }}
                </a>
            </td>
            <td>

                {#  Bouton Afficher #}
                {% if sortie.etat.id != 1 %}

                <a  class="button blue_alt  text-decoration-none" class="badge  text-wrap p-1" style="width: 8rem;height: 3rem" href="{{ path("sortie_detail", {"id" : sortie.id}) }}">Afficher</a>
                {% endif %}

                {#  Bouton s'inscrire et se désister   #}
                {% set pasInscrit=true %}
                {% if sortie.etat.id == 2 %}
                    {#Vérification si l'utilisateur est déjà inscrit ou non#}
                    {% for participant in sortie.relation %}
                        {%  if participant.id==user.id %}
                            {% set pasInscrit=false %}
                        {% endif %}
                    {% endfor %}

                    {#Si pas inscrit et sortie ouverte, alors bouton s'inscrire'#}
                    {% if pasInscrit==true %}
                        <a class="button xbox text-decoration-none" href="{{ path("gestionEtat_inscrire", {"id" :sortie.id }) }}">S'inscrire</a>
                    {% endif %}
                {% endif %}

                {#  Bouton Se desister si sortie cloturée ou encours mais déjà inscrit #}
                {% if sortie.etat.id==2 or sortie.etat.id==3 %}
                    {% if pasInscrit==false %}
                        <a class="button dsgnmoo text-decoration-none" href="{{ path("gestionEtat_desister", {"id" :sortie.id }) }}">Se désister</a>
                    {% endif %}
                {% endif %}

                {#  Bouton Modifier   #}
                {% if user.id == sortie.organisateur.id and sortie.etat.id==1  %}
                <a class="button dribbble text-decoration-none" href="{{ path("gestionEtat_modifier", {"id" :sortie.id }) }}">Modifier</a>

                {#Bouton Publier#}
                <a class="button dribbble text-decoration-none" href="{{ path("gestionEtat_publier", {"id" :sortie.id }) }}">Publier</a>
                {% endif %}

                {#Bouton Annuler#}
                {% if user.id == sortie.organisateur.id and sortie.etat.id in [2, 3, 4] %}
                <a class="button purple text-decoration-none " href="{{ path("gestionEtat_annuler", {"id" :sortie.id }) }}">Annuler</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}

        </tbody>


    </table>
</div>


</section>