<!--==========================
Header
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="{{ path('sortie_liste') }}" class=""> <img src="{{ asset('img/logo3.png') }}"></a>
            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {#<li><a href="{{ path('sortie_liste') }}#about">Villes</a></li>
                    <li><a href="{{ path('sortie_liste')}}#about">Sites</a></li>#}
                    <li><a href="{{ path('sortie_liste') }}">Accueil</a></li>
                    <li><a href="{{ path('participant_monProfil') }}">Mon Profil</a></li>
                    <li><a href="{{ path('gestionEtat_creer') }}">Créer une sortie</a></li>
                    {% if is_granted("ROLE_ADMIN") %}
                        <li><a href="{{ path('participant_registrer') }}">Ajouter un utilisateur</a></li>
                    {% endif %}
                    <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->


